
@model Entities.AllAwards
@using Entities
@{
    int id = Model.id;
    IEnumerable<Award> awards = Model.awards;
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="main">
        <div class="add">
            <h2>Выберите награду для добавления: </h2>

            @foreach (var item in awards)
            {

                <form method="post" class="form-horizontal" role="form">
                    <input type="hidden" value="@item.Id" name="award" />
                    <input type="hidden" value="@id" name="id" />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value=@item.Title />
                        </div>
                    </div>
                </form>
            }
        </div>

    </div>

</body>
</html>